/* ESTILOS BANNER */
#banner{
    background-image: url(../src/assets/imagenes/cambio.jpg);
    background-size: contain;
}

/* ESTILOS ACERCA DE */

#about{
    padding: 14px 15px;
    background: linear-gradient(antiquewhite,white);
} 

#acercaDe{
    padding:20px;
    background: #FFFFFF;
}
/* ESTILOS EXPERIENCIA*/
#experiencias{
    padding:20px;
}

#experiencia {
    padding: 14px 15px;
    background:linear-gradient(white,antiquewhite);
}

#educacion{
    padding: 20px;
}
#education{
    padding: 14px 15px;
    background: linear-gradient(antiquewhite,grey);
}
#projects, #skills {
    padding: 30px;
    background-color: grey;
}

.container h2{
    text-shadow: 2px 2px 10px orange;
}
.container-center {
    max-width: 400px;
}
/* ESTILOS FOOTER */
footer {
    padding: 10px 0;
    text-align: center;
    color: orange;
    background-color: black;
}

footer a {
    color: white;
}

footer a:hover {
    color: orange;
}

footer .list-inline .list-inline-item {
  padding: 10px 10px;  
}

fa-icon {
    font-size: 14px;
    margin-left: 5px;
}